<center> <h1> Application Programming Interface </h> </center> 
<center> <h2> Classroom Activity 1 </h> </center> 
<center> <h3> Data Preprocessing </h> </center> 
<center> <h4> Alexa Canche </h> </center>

**Open Notify** ([Web Page](http://open-notify.org/)) is an open source project to provide a simple programming interface for some of NASAâ€™s data.

In [1]:
import pandas as pd
import requests
import time
import json

a. Create the function named *astro_now*() to obtain data of the astraonauts in the space using the method [Number of People in Space](http://open-notify.org/Open-Notify-API/People-In-Space) using the following python libraries:
* [requests](https://2.python-requests.org/en/master/)
* [json](https://docs.python.org/3/library/json.html)
    
The function must return the obtained json file as a python dictionary.

In [2]:
# Complete task a here
def astro_now():
    """Transforms an API url to a dictionary.
    
    In this function we take the url of the API of 
    austronauts in spance and transform it to a 
    dictionary.
    
    Args: 
        None.
    
    Returns: 
        a dictionary with the content of the API.
    """
    endpoint_url = 'http://api.open-notify.org/astros.json' #assign the url to a varible to better use
    res = requests.get(endpoint_url) #We need to know if it would be txt, json, etc
    results = json.loads(res.content) #res is an object, but with content we can see it
    return results

In [3]:
astronauts_json = astro_now()
astronauts_json #this is a dictionary

{'message': 'success',
 'people': [{'name': 'Alexey Ovchinin', 'craft': 'ISS'},
  {'name': 'Nick Hague', 'craft': 'ISS'},
  {'name': 'Christina Koch', 'craft': 'ISS'},
  {'name': 'Alexander Skvortsov', 'craft': 'ISS'},
  {'name': 'Luca Parmitano', 'craft': 'ISS'},
  {'name': 'Andrew Morgan', 'craft': 'ISS'}],
 'number': 6}

b. Use the json obtained to create a table with the following columns:
* craft
* astronaut name

In [4]:
# Complete task b here
#Convert the dictionary to json and making it a table
astronauts_df = pd.read_json(json.dumps(astronauts_json ['people']), orient = 'record') #We changed the orient since it was the adequite, and took peoplo from the dictionary, so we only choose people
astronauts_df

  craft                 name
0   ISS      Alexey Ovchinin
1   ISS           Nick Hague
2   ISS       Christina Koch
3   ISS  Alexander Skvortsov
4   ISS       Luca Parmitano
5   ISS        Andrew Morgan

c. Create the function named *iss_currentlocation*() to obtain the position of the International Space Station using the method [Current Location of the International Space Station](http://open-notify.org/Open-Notify-API/ISS-Location-Now/).
    
The function must return the numeric value of the latitud and longitud as a tuple, e.g. (20.0,120.0)

In [5]:
# Complete task c here
#HERE I ADDED THE TIMESTAMP TOO, SO THAT IN THAT IN THE NEXT PROBLEM I CAN USE IT 
def iss_currentlocation():
    """Transforms an API url to a dictionary.
    
    In this function we take the url of the API of 
    the position of the International Space Station
    and transform it to a dictionary, and the timestamp
    then we make it a tuple.
    
    Args: 
        None.
    
    Returns: 
        A tuple with the location and timestamp
        (latitude,longitude, timestamp).
    """
    endpoint_url = 'http://api.open-notify.org/iss-now.json' #assign the url to a varible to better use
    res = requests.get(endpoint_url) #We need to know if it would be txt, json, etc
    results = json.loads(res.content) #res is an object, but with content we can see it
    timestamp = results['timestamp'] #select only the timestamp info
    tupla = (float(results['iss_position']['longitude']), float(results['iss_position']['latitude']),float(results['timestamp']))
    return tupla

In [6]:
iss_currentlocation() #a tuple

(50.2537, 47.2083, 1569169220.0)

d. Use your *iss_currentlocation()* function to obtain the position of the International Space Station each 10 seconds during 5 minutes. Show the results in a table with the following columns:
* timestamp (Parsed Correctly)
* latitude
* longitude

The [Time](https://docs.python.org/3/library/time.html) Python library could be useful.

In [16]:
def iss_loc10():
    """Create a data frame with the lat,loc and
    timestamp every 10 sec for 5 min.
    
    In this function we take use the iss_currentlocation()
    and iss_timestamp() functions, add them in a list, so
    that we can create the data frame with the latitude,
    longitude and timestamp, but the main it's that is done 
    every 10 seconds for 5 minutes.
    
    Args: 
        None.
    
    Returns: 
        A data frame with the lat, long, and timestamp.
    """
    data = [] #empty list
    minutes = 0 #inizialitiar
    while minutes < 300: #for the 5 min
        location = iss_currentlocation() #calling the function and assign it to a variable
        data.append(location) #Adding to the list the locaation that already includes the timestamp
        df = pd.DataFrame(data=data, columns=['latitude','longitude','timestamp']) #creating the data frame
        time.sleep(10) #to make it run every 10 sec
        minutes += 10 #to make it to the 5 min
    df['timestamp'] = pd.to_datetime(df['timestamp'],unit='s') #changing to seconds the timestamp
    return df

In [17]:
iss_loc10()

    latitude  longitude           timestamp
0  -143.8570   -46.4354 2019-09-22 17:06:15
1  -143.0509   -46.7126 2019-09-22 17:06:25
2  -142.1951   -46.9968 2019-09-22 17:06:36
3  -141.3299   -47.2738 2019-09-22 17:06:46
4  -140.4970   -47.5310 2019-09-22 17:06:56
5  -139.6556   -47.7813 2019-09-22 17:07:06
6  -138.7632   -48.0369 2019-09-22 17:07:17
7  -137.9046   -48.2731 2019-09-22 17:07:27
8  -136.9943   -48.5134 2019-09-22 17:07:38
9  -136.1191   -48.7349 2019-09-22 17:07:48
10 -135.1914   -48.9596 2019-09-22 17:07:58
11 -134.2999   -49.1659 2019-09-22 17:08:08
12 -133.4008   -49.3646 2019-09-22 17:08:18
13 -132.4488   -49.5649 2019-09-22 17:08:29
14 -131.5344   -49.7477 2019-09-22 17:08:39
15 -130.5666   -49.9311 2019-09-22 17:08:49
16 -129.6380   -50.0975 2019-09-22 17:08:59
17 -128.6557   -50.2635 2019-09-22 17:09:10
18 -127.7140   -50.4130 2019-09-22 17:09:20
19 -126.7662   -50.5542 2019-09-22 17:09:30
20 -125.7645   -50.6935 2019-09-22 17:09:40
21 -124.8051   -50.8172 2019-09-22 17:09:50
22 -123.7924   -50.9379 2019-09-22 17:10:01
23 -122.8229   -51.0440 2019-09-22 17:10:11
24 -121.8000   -51.1459 2019-09-22 17:10:21
25 -120.8216   -51.2338 2019-09-22 17:10:31
26 -119.7905   -51.3166 2019-09-22 17:10:42
27 -118.8050   -51.3862 2019-09-22 17:10:52
28 -117.7671   -51.4497 2019-09-22 17:11:03
29 -116.7761   -51.5007 2019-09-22 17:11:13

e. The International Space Station is an orbital outpost circling high above out heads. Sometimes itâ€™s overhead, but when? It depends on your location. Given a location on Earth (latitude, longitude, and altitude) the [International Space Station Pass Times](http://open-notify.org/Open-Notify-API/ISS-Location-Now/) API compute the next n number of times that the ISS will be overhead.

The function must return the obtained json file as a python dictionary.

f. Write the *url request* to obtaing the same result as in task e.

In [9]:
def iss_passtimes (latitude, longitude, altitude = None, number = None):
    """Transforms an API url to a dictionary.
    
    In this function we take the url of the API of 
    when and the duration of The International Space 
    Station would be above our heads, and transform 
    it to a dictionary.
    
    Args: 
        latitude: of the location desired.
        longitude: of the location desired.
        altitude: None
        number: none
    
    Returns: 
        A dictionary with the information.
    """
    endpoint_url = 'http://api.open-notify.org/iss-pass.json' #assign the url to a varible to better use
    parameters = {
        'lat' : latitude, 
        'lon' : longitude,
        'alt' : altitude, 
        'n' : number
    }
    
    res = requests.get(endpoint_url, params = parameters) 
    results = json.loads(res.content)
    return results

In [10]:
iss_merida = iss_passtimes(20.967780, -89.624250)
iss_merida

{'message': 'success',
 'request': {'altitude': 100,
  'datetime': 1569169528,
  'latitude': 20.96778,
  'longitude': -89.62425,
  'passes': 5},
 'response': [{'duration': 624, 'risetime': 1569190471},
  {'duration': 539, 'risetime': 1569196319},
  {'duration': 357, 'risetime': 1569220184},
  {'duration': 647, 'risetime': 1569225869},
  {'duration': 382, 'risetime': 1569231781}]}

### url request
http://api.open-notify.org/iss-pass.json?lat=20.967780&lon=-89.624250

g. Create a table with the following columns:
* latitude
* longitude
* risetime (parse correctly)
* duration

In [11]:
# Complete task g here
df = pd.read_json(json.dumps(iss_merida ['response']), orient = 'record') #create the table with responde which includes duration and risetime
df['latitude'] = iss_merida['request']['latitude'] #adding the latitude colum to the dt
df['longitude'] = iss_merida['request']['longitude'] #adding the longitude colum to the dt
df['risetime'] = pd.to_datetime(df['risetime'],unit='s') #adding the risetime column and with the pd.to_datetime changing it to seconds
df

   duration            risetime  latitude  longitude
0       624 2019-09-22 22:14:31  20.96778  -89.62425
1       539 2019-09-22 23:51:59  20.96778  -89.62425
2       357 2019-09-23 06:29:44  20.96778  -89.62425
3       647 2019-09-23 08:04:29  20.96778  -89.62425
4       382 2019-09-23 09:43:01  20.96778  -89.62425

## Checklist

| Task | Points |
|:----:|:------:|
|   a  |   15   |
|   b  |   15   |
|   c  |   15   |
|   d  |   15   |
|   e  |   15   |
|   f  |   10   |
|   g  |   15   |

* **Important!** Partial credit can be obteined in each task.
* Don not forget to document your functions! [Here](http://google.github.io/styleguide/pyguide.html) is the Python Programming Styleguide from Google. [Section 3.8](http://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings) is about Comments and Docstrings.